{
  "env": {
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "indent": ["error", 2],
    "no-console": 0,
    "require-jsdoc": 0
  }
}